.rootContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timelineContainer {
  background-color: var(--background2);
  border-radius: 0.5rem;
}

.daysListContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background2);
  padding: 0.7rem;
  border-radius: 0.8rem;
}

.tempContainer {
  display: flex;
}

.tmpText {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 400;
}

.max {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 1.2rem;
}

.min {
  color: var(--text-secondary);
}

.flexRowContainer {
  display: flex;
}

.flexRowContainer:nth-child(2) {
  align-self: flex-end;
}

.degree {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.day {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
}

.icon {
  width: 150px;
}

.timelineRootContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.heading {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .icon {
    width: 100px;
  }

  .container {
    flex-direction: column;
    flex: 0;
  }

  .tempContainer {
    gap: 0.5rem;
  }

  .slash {
    display: none;
  }

  .max {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }
}
