.rootContainer {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  /* flex: 1; */
  /* flex-direction: column; */
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background2);
  padding: 0.7rem;
  border-radius: 0.8rem;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
}

.tempContainer {
  display: flex;
  /* gap: 1rem; */
}

.tmpText {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 400;
}

.max {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 1.2rem;
}

.min {
  color: var(--text-secondary);
}

.flexRowContainer {
  display: flex;
}

.flexRowContainer:nth-child(2) {
  align-self: flex-end;
}

.degree {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.day {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
}

.icon {
  width: 150px;
}

@media screen and (min-width: 576px) {
  .icon {
    width: 110px;
  }

  .container {
    flex-direction: column;
    flex: 0;
  }

  .tempContainer {
    gap: 0.5rem;
  }

  .slash {
    display: none;
  }

  .max {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }
}
